<!DOCTYPE html>
<html dir="ltr" lang="<%%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <title><%= app_const %></title>
    <meta http-equiv="x-dns-prefetch-control" content="off">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%%= csrf_meta_tags %>
    <%- unless options[:skip_action_cable] -%>
    <%%= action_cable_meta_tag %>
    <%- end -%>

    <%%= stylesheet_link_tag "application", media: "all" %>
    <%%= javascript_include_tag "application" %>
  </head>

  <body>
    <%%= yield %>
  </body>
</html>
