<h1>Yay! You're on Rails!</h1>
<p>
  <strong>Rails version:</strong> <%= Rails.version %><br />
  <strong>Ruby version:</strong> <%= RUBY_VERSION %> (<%= RUBY_PLATFORM %>)
</p>

<p>
  You can find this file at <code>app/views/pages/home.html.erb</code>.
</p>
